.provider-switch {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    & img {
        max-width: 48px;
        width: 100%;
        align-self: center !important;
        &:first-of-type {
            margin-right: 24px;
        }

        &:last-of-type {
            max-width: 32px;
            margin-left: 16px;
        }
    }
}
