.login-root {
    background-color: #14171d;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.login-card {
    padding: 32px 24px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.24);
    border-radius: 24px;
    max-width: 320px;
    width: 100%;
}

.login-card form {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.login-card img {
    align-self: flex-start;
}

.login-card p {
    margin: 16px 0px 8px 0px;
    font-family: "Roboto Mono", monospace;
    font-size: 24px;
    font-weight: 100;
}

.login-card p > span {
    color: #2f7deb;
    font-weight: 300;
}

.login-card .choose-provider {
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: 14px;
    opacity: 0.64;
    text-align: center;
}

.login-card .provider-switch {
    margin-bottom: 16px;
}

/* Button */
.login-card button {
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    background: #2f7deb;
    box-shadow: 0px 4px 16px rgba(20, 99, 211, 0.4);
    font-size: 16px;
    padding: 16px;
    color: white;
    margin: 16px 0px;
}

.login-card button:hover {
    box-shadow: 0px 5px 18px rgba(20, 99, 211, 0.44);
}

.login-card button:active {
    box-shadow: 0px 4px 16px rgba(20, 99, 211, 0);
}

/* Input */

.login-card input {
    border: 0;
    border-radius: 8px;
    background: none;
    font-size: 16px;
    padding: 16px;
    color: white;
    margin: 16px 0px;
    background-color: rgba(255, 255, 255, 0.08);
}

.login-card input::placeholder {
    color: rgba(255, 255, 255, 0.4);
}

.login-card input:hover {
    background-color: rgba(255, 255, 255, 0.16);
}

.login-card input:focus {
    background-color: rgba(255, 255, 255, 0.16);
}
